@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
:root {
  --quiensoy: rgba(125,170,136);
  --portafolio: #b5c9cf;
  --contacta:#cfb5c9;
  --fondo_pagina:#ebebeb;
}

canvas{
left: 0;
top:0;
position: fixed;
}

#primerelemento_nav{
  margin-left: 70px;
}

body{
  overflow-x: hidden;
  background-color: var(--fondo_pagina);
  transition-duration: 3s;
}
.card{
  margin: 12px;
  text-align: center;
}

.card h5{
  font-weight: bolder;
}

.card img{
 padding:  12px;
 border-radius: 20px; 
  width: 270px;
}
.card-title{
  width: 100%;
  margin: auto;
}


.card{
  border-radius: 12px;
   box-shadow: 2px 4px 6px #888888;
 
}



.card-img-top{
  margin-top: 12px;
}




#nombre{
  color:white;
  margin-top:4px;
  
}

nav{
  box-shadow: 2px 4px 6px #888888;
  z-index: 4;
  position: fixed;
  width: 100%;
  background-color: white
}


.nav a{
  color: black;
}

#i_correo{
  width: 30%
}
#i_nombre{
  width: 30%
}

.nav a:hover{
  color: black;
  font-weight: bolder;
}

#cabecera{
  background-color: rgb(211,211,11);
  display:flex;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  filter: drop-shadow(2px 2px 3px #4444);
  position: fixed;
  margin-left: -12px;
  z-index: 12;
  
}

.btn-primary{
  margin-left: 10px;

}



#quiensoy{
  background-color: var(--quiensoy);
}

#foto img{
  height: 220px;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 120px;
  border: 5px white solid;  
}

#texto_presentacion{
  font-size: x-large;
  margin-bottom: 30px;
  margin: 30px
}

#texto_presentacion b{
  color:white;
}
#iconos img{
  width: 40px;
  margin: 20px;
  margin-bottom: 90px;
}



#portafolio h4,h5{
  padding: 1px ;
  margin-left: 45px;
  margin-right: 45px;
  
}
#portafolio h5{
  margin-top: 22px;
  text-align: center;
  margin-bottom: 12px;
}
#portafolio h4{
  color:white;
  font-weight: bold;
  font-size:x-large;
 
}

#portafolio a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}


#proyectos{
margin-left:9%;
margin-right:9%;   
}

.caja_proyecto{
  background-color: yellow;
  margin: 12px;
  width: 270px;
  height: 273px;
  
}

#portafolio{
  background-color: var(--portafolio);
}
#contacto{
  background-color:  var(--contacta);
  padding-bottom: 120px;
}

#quiensoy {
    position: relative;
    text-align: center;
}

#quiensoy :after {
    background: linear-gradient(-45deg,  var(--portafolio) 16px, transparent 0), linear-gradient(45deg,  var(--portafolio) 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 60px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

#portafolio h4{
  padding-top: 60px
}

#portafolio {
    position: relative;
    
}

#portafolio:after {
    background: linear-gradient(-45deg,  var(--contacta) 16px, transparent 0), linear-gradient(45deg,  var(--contacta) 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 60px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

#contacto {
    position: relative;
    margin-bottom:  50px;
}

#firma{
  text-align: center;
  font-size: small;
  margin-bottom:15px;
}

#portafolio{
  padding-bottom: 60px
}

#contacto:after {
    background: linear-gradient(-45deg,  var(--fondo_pagina) 16px, transparent 0), linear-gradient(45deg, var(--fondo_pagina) 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 60px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

#texto_form{
  padding-left: 35px;
   padding-top: 60px;
}

#formulario{
  margin: 75px;
  padding: 35px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 12px;
  width: 60%;
}

#formulario button{
  margin-top: 12px;
  width: 20%;
  height: 40px;
  margin-left: 0%;
}

#i_nombre{
  margin-bottom: 22px;
  width: 60%;
}

#i_correo{
  margin-bottom: 22px;
  width: 60%;
}

#i_asunto{
  width: 90%
}


#texto_form{
  font-size:larger 
}
#texto_form b{
  color:white;
}


@media (max-width: 1000px) {
  #formulario{
    width: 90%;
  margin-left:5%;
  }
  #formulario button{
    width: 100px;
  }
  
  
}




.pez img{
  width: 96px;
  position:absolute;
    transition: 1s;
}