

body{
  background-color:RGB(238,236,236);
   font-family: "Lucida Console", "Courier New", monospace;
}

.titulos{
  border-radius: 99px;
}

#explicacion{
  margin-top : 2%;
  background-color: white;
  font-size: small;
}

#comic{
  margin-top: 5%;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  border-radius: 99px;
}

#frame_pie{
 
  width: 101.5%;
    margin-left: -0.9%;
    margin-top: 30px;
}

#frame_cabecera{
  width: 101.5%;
  margin-top: -80px;
  margin-bottom: 1px;
    margin-left: -1%;
}
