

#canvas {
    max-width: 98%;
    max-height: 98%;
    height: auto;
    width: auto;
    margin:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:white;
    border:black 3px solid;
}

body{
        font-family: 'Vegur', 'PT Sans', 'Verdana', 'sans-serif';

}

#marco{
    position: absolute;
    background-color:rgba(255,255,255,0.6);
    padding: 14px;
    border-radius: 14px;
    top: 55%;
  left: 0%;
    
}
input{
        width: 20%;
        border-color: white;
        border-radius:14px;

}

button{
      border-color: white;
        border-radius:14px;

}

#titulo{
    color :white;
    position: absolute;
    font-size: 70px;
    top: 50%;
    left: 35%;
}

#firma{
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 90%;
     left: 87%;
}